@charset "UTF-8";
@import url('./fonts.css');
@import url('./reset.css');
@import url('./style.css');

#wrap {
    width: 100%;
    height: 100%;
    #header {
        width: 100%;
        height: 86px;
        position: fixed;
        top: 0;
        left: 0;
        background: #93e4cf;;
        z-index: 3;
        .container {
            width: 100%;
            max-width: 1170px;
            height: 100%;
            margin: 0 auto;
            .gap {
                padding: 0 14px;
                width: 100%;
                height: 100%;
                display: flex;
                .left {
                    width: 38%;
                    height: 100%;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    ul {
                        display: flex;
                        margin: 0 0 0 30px;
                        li {
                            margin: 0 30px 0 0;
                            a {
                                font-size: 14px;
                                font-weight: 600;
                                color: #2e443f;
                                &:focus {
                                    color: #d32b55;
                                }
                                &:hover {
                                color: #d32b55;
                                }
                                &.on {
                                    color: #d32b55;
                                }
                            }
                        }
                    }
                }
                .center {
                    width: 24%;
                    height: 100%;
                    a {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        background: url(../img/logo-pink2.png) no-repeat 50% 50%;
                        background-size: cover;
                    }
                }
                .right {
                    width: 38%;
                    height: 100%;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    ul {
                        display: flex;
                        margin: 0 0 0 30px;
                        li {
                            margin: 0 30px 0 0;
                            a {
                                font-size: 14px;
                                font-weight: 600;
                                color: #2e443f;
                                &:focus {
                                    color: #d32b55;
                                }
                                &:hover {
                                color: #d32b55;
                                }
                                &.on {
                                    color: #d32b55;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    #main {
        width: 100%;
        position: relative;
        z-index: 2;
        #section1 {
            width: 100%;
            height: 100vh;
            position: relative;
            background: url(../img/wedding-img3.jpg) no-repeat 50% 50%;
            &::before {
                content: '';
                z-index: 1;
                width: 100%;
                height: 100%;
                background-color: rgba(37, 37, 37, 0.7);
                position: absolute;
                top: 0;
                left: 0;
            }
            .container {
                width: 100%;
                max-width: 1170px;
                margin: 0 auto;
                height: 100%;
                .gap {
                    padding: 0 14px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    .title {
                        text-align: center;
                        width: 307px;
                        z-index: 2;
                        figure {
                            padding: 0 0 39.906px 0;
                            img {
                                width: 100%;
                            }
                        }
                        hr {
                        border-top: 1px solid #93e4cf;
                        border-bottom: 1px solid #93e4cf;
                        height: 4px;
                        }
                        h3 {
                        font-size: 18px;
                        font-weight: 500;
                        text-align: center;
                        color: #fff;
                        padding: 30px 0 5px 0;
                        }
                        h2 {
                            font-size: 24px;
                            font-weight: 700;
                            text-align: center;
                            color: #93e4cf;
                            line-height: 28px;
                        }

                    }
                }
            }
        }
        #section2 {
            width: 100%;
            padding: 130px 0;
            background: #fff;
            .container {
                width: 100%;
                max-width: 1170px;
                margin: 0 auto;
                .title {
                    width: 100%;
                    text-align: center;
                    margin: 0 0 93.594px 0;
                    h2 {
                        display: inline-block;
                        font-size: 24px;  
                        font-weight: 700;                         
                        color: #e15276;                          
                        position: relative;
                        &::before {
                            content: '';
                            position: absolute;
                            left: -60px;
                            top: 50%;
                            margin: -0.5px 0 0 0;
                            width: 40px;
                            height: 1px;
                            background: #93e4cf;
                          
                        }
                        &::after {
                            content: '';
                            position: absolute;
                            right: -60px;
                            top: 50%;
                            margin: -0.5px 0 0 0;
                            width: 40px;
                            height: 1px;
                            background: #93e4cf;
                            text-align: center;
                        }
                }    }
                    .content {
                        width: 100%;
                        display: flex;
                        .left {
                            width: 50%;
                            height: 350px;

                            .content-box {
                                width: 100%;
                               > ul {
                                    width: 100%;
                                    display: flex;
                                   > li {
                                        width: 50%;
                                        &.left-img {
                                            width: 100%;
                                           > .gap {
                                                padding: 0 15px;
                                                figure {
                                                    width: 100%;
                                                    img {
                                                        width: 100%;
                                                        outline: 4px solid rgba(255, 255, 255, 0.3);
                                                        outline-offset: -15px;
                                                    }
                                                }

                                            }
                                        }
                                    
                                      &.left-text {
                                          width: 100%;
                                          .gap {
                                            padding: 0 15px;
                                              .text-box {
                                                width: 100%;
                                                  ul {
                                                    width: 100%;
                                                    li {
                                                        text-align: left;
                                                        width: 80%;
                                                        h2 {
                                                            padding: 0 0 0 10px;
                                                            i {
                                                                font-size: 40px;
                                                                color: #93e4cf;
                                                            }
                                                        }
                                                        h3 {
                                                            font-size: 18px;
                                                            font-weight: 700;
                                                            color: #93e4cf;
                                                            line-height: 30px;
                                                        }
                                                        h4 {
                                                            font-size: 13px;
                                                            font-weight: 600;
                                                            padding: 20px 0;
                                                        }
                                                        p {
                                                            font-size: 13px;
                                                            font-family: 'Roboto';
                                                            line-height: 170%;
                                                        }
                                                    }

                                                  }
                                              }
                                          }
                                      }
                                }}
                            }
                            .icon-box {
                                display: flex;
                                width: 100%;
                                padding: 30px 0 0 0;
                                text-align: center;
                                .left {
                                    width: 50%;
                                    a {
                                        margin: 0 10px;
                                        color: #626262;
                                        i {
                                        font-size: 14;
                                    }
                                    }
                                }
                                .right {
                                    width: 50%;
                                    a {
                                        margin: 0 10px;
                                        color: #626262;
                                        i {
                                        font-size: 14;
                                    }
                                    } 
                                }
                            }
                        }
                        .right {
                            width: 50%;
                            height: 350px;
                            .content-box {
                                width: 100%;
                               > ul {
                                    width: 100%;
                                    display: flex;
                                   > li {
                                        width: 50%;
                                        &.right-img {
                                            width: 100%;
                                           > .gap {
                                                padding: 0 15px;
                                                figure {
                                                    width: 100%;
                                                    img {
                                                        width: 100%;
                                                        outline: 4px solid rgba(255, 255, 255, 0.3);
                                                        outline-offset: -15px;
                                                    }
                                                }

                                            }
                                        }
                                    
                                      &.right-text {
                                          width: 100%;
                                          .gap {
                                            padding: 0 15px;
                                              .text-box {
                                                width: 100%;
                                                  ul {
                                                    width: 100%;
                                                    li {
                                                        text-align: left;
                                                        width: 80%;
                                                        h2 {
                                                            padding: 0 0 10px 0;
                                                            i {
                                                                font-size: 40px;
                                                                color: #93e4cf;
                                                            }
                                                        }
                                                        h3 {
                                                            font-size: 18px;
                                                            font-weight: 700;
                                                            color: #93e4cf;
                                                            line-height: 130%;
                                                        }
                                                        h4 {
                                                            font-size: 13px;
                                                            font-weight: 600;
                                                            padding: 20px 0;
                                                        }
                                                        p {
                                                            font-size: 13px;
                                                            font-family: 'Roboto';
                                                            line-height: 170%;
                                                        }
                                                    }

                                                  }
                                              }
                                          }
                                      }
                                }
                            }
                        }
                        .icon-box {
                            display: flex;
                            width: 100%;
                            padding: 30px 0 0 0;
                            text-align: center;
                            .left {
                                width: 50%;
                                a {
                                    margin: 0 10px;
                                    color: #626262;
                                    i {
                                    font-size: 14;
                                }
                                }
                            }
                            .right {
                                width: 50%;

                            
                                
                            }
                        }
                    
                    }
                }    
            }
        } 
        #section3 {
            width: 100%;
            height: 346.500px;
            background: url(../img/wedding-img7.jpg) no-repeat 50% 50% fixed;
            background-size: 100% auto;
            .container {
                width: 100%;
                max-width: 1170px;
                margin: 0 auto;
                height: 100%;
                .gap {
                    width: 100%;
                    height: 100%;
                    padding: 0 15px;
                    .title {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        h2 {
                            font-size: 24px;
                            font-weight: 600;
                            color: #93e4cf;
                            line-height: 28;
                        }
                    }
                }
            }
        }
        #section4 {
            width:100%;
            background: #fff;
            padding: 130px 0;
            border-bottom: 1px solid #ccc;
            .container {
                width: 1170px;
                margin:0 auto;
                > .gap {
                    width: 100%;
                    .title {
                        width: 100%;
                        text-align: center;
                        padding: 0 0 90px 0;
                        h2 {
                            display: inline-block;
                            font-size: 24px;
                            color: #e15276; 
                            position: relative;
                            font-weight: 700;
                            &::before{
                                content:'';
                                position: absolute;
                                left: -60px;
                                top: 50%;
                                margin: -0.5px 0 0 0;
                                width: 40px;
                                height: 1px;
                                background: #93e4cf;
                            }                           
                            &::after{
                                content:'';
                                position: absolute;
                                right: -60px;
                                top: 50%;
                                margin: -0.5px 0 0 0;
                                width: 40px;
                                height: 1px;
                                background: #93e4cf;
                            }                           
                        }
                    }
                    .content {
                        width: 100%;
                        
                        ul {
                            
                            width: 100%;
                            display: flex;
                            li {
                                width: 33.33333%;
                                .col-gap {
                                    width:100%;
                                    padding: 0 15px;
                                    text-align: center;
                                    .box {
                                        width:100%;
                                        border: 5px solid #eee;
                                        padding: 54px 54px;
                                        .gap {
                                            width:100%;
                                            padding: 35px 60px;
                                            h2 {
                                                padding: 0 0 15px 0;
                                                i {
                                                    font-size: 60px;
                                                    color: #85d4c0;
                                                }                                    
                                            }
                                            h3 { font-size: 15px;font-weight: 600;}
                                            hr {border:0;background: #ccc;width:100%;height:1px;margin: 25px 0;}
                                            p {color: #929292; font-size: 13px;padding: 0 0 10px 0;}
                                            h4 {color: #929292; font-size: 13px;}
                                        }
                                    }

                                               
                                }
                            }
                        }
                    }
                }
            }
        }
        #section5 {
            width: 100%;
            padding: 130px 0;
            background: #fff;
            .container {
                width: 100%;
                max-width: 1170px;
                margin: 0 auto;
                .gap {
                    width: 100%;
                    .title {
                        width: 100%;
                        text-align: center;
                        padding: 0 0 90px 0;
                        h2 {
                            display: inline-block;
                            font-size: 24px;
                            color: #e15276; 
                            position: relative;
                            font-weight: 700;
                            &::before{
                                content:'';
                                position: absolute;
                                left: -60px;
                                top: 50%;
                                margin: -0.5px 0 0 0;
                                width: 40px;
                                height: 1px;
                                background: #93e4cf;
                            }                           
                            &::after{
                                content:'';
                                position: absolute;
                                right: -60px;
                                top: 50%;
                                margin: -0.5px 0 0 0;
                                width: 40px;
                                height: 1px;
                                background: #93e4cf;
                            }                           
                        }
                    }
                    .content {
                        width: 100%;
                        overflow: hidden;
                        .gallery-box {
                            width: 1181px;
                            margin: 0 0 0 -11px;
                            ul {
                                width: 100%;
                                display: flex;
                                flex-flow: row wrap; 
                                li {
                                    width: 25%; 
                                    .col-gap {
                                          
                                        width: auto;  
                                        margin: 0 0 11px 11px;
                                        overflow: hidden;  

                                        a {
                                            display: block;
                                            width: 100%;
                                            figure {
                                                width: 100%;
                                                img {
                                                    width: 100%;
                                                    transition: all 0.3s;
                                                    &:hover {
                                                        transform: scale(1.1);
                                                        opacity: 0.2;
                                                        cursor: url(../img/icon-zoom.png), auto;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        #section6 {
            width:100%;
            height: 500px + 130px + 130px;
            background: url(../img/wedding-img16.jpg) no-repeat 50% 50%;
            background-size: cover;
            padding: 130px 0;
            position: relative;
            &::before {
                content:'';
                z-index: 1;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: rgba(37, 37, 37, 0.5);
              }
            .container {
                z-index: 2;
                position: relative;
                width: 100%;
                max-width: 1170px;
                margin: 0 auto;
                height: 500px;
                .gap {
                    width: 100%;
                    .content {
                        width: 100%;
                        > ul {
                            display: flex;
                            > li {
                                width: 50%;

                                .col-gap {
                                    width: 100%;
                                    padding: 0 15px;
                                    .content-box {
                                        width: 100%;
                                        height: 500px;
                                        outline: 5px solid rgba(255, 255, 255, 0.3);
                                        outline-offset: -20px;
                                        &.left{
                                            background: url(../img/wedding-img17.jpg) no-repeat 50% 50%;
                                            background-size: cover;
                                            display: flex;
                                            align-items: center;
                                            justify-content: center;
                                            h2 {
                                            width: 60%;
                                            font-size: 28px;
                                            font-weight: 600;
                                            color: #fff;
                                            line-height: 34px;
                                            text-align: center;
                                            font-family: 'Montserrat';
                                            letter-spacing: 0.3px;
                                            }
                                        }
                                        &.right{
                                            background-color: #93e4cf;
                                            display: flex;
                                            align-items: center;
                                            justify-content: center;
                                            .content-wrap {
                                                width: 75%;
                                                .content-title {

                                                    h2 {
                                                        font-size: 24px;
                                                        font-weight: 600;
                                                        color: #626262;
                                                        text-align: center;
                                                    }
                                                }
                                            
                                            #FormMessage {
                                                padding: 25px 0 10px 0;
                                                ul {
                                                    width: 100%;
                                                    li {
                                                        width: 100%;
                                                        padding: 5px 0;
                                                        &:ntn-child(3) {
                                                            display: flex;
                                                            justify-content: space-between;
                                                        }
                                                        &:last-child {
                                                            text-align: center;
                                                        }
                                                        input {
                                                            width: 100%;
                                                            height: 47px;
                                                            background: #fff;
                                                            border: 0;
                                                            border-radius: 2px;
                                                            padding: 0 15px;
                                                            &::placeholder {
                                                                color: #ccc;
                                                            }
                                                            &:focus {
                                                                outline: 0;
                                                            }
                                                        }
                                                        div {
                                                            width: 47%;
                                                        select{
                                                            width: 100%;
                                                            height: 47px;
                                                            background: #fff;
                                                            border: 0;
                                                            appearance: none;
                                                            padding: 0 15px;
                                                            &:focus {
                                                                outline: 0;
                                                            }
                                                            
                                                        }
                                                    }
                                                        // 메모장 텍스트에이리어 textarea
                                                        // 타입속성 사용법
                                                        //textarea[id=''] {}
                                                        textarea {
                                                            width: 100%;
                                                            height: 70px;
                                                            background: #fff;
                                                            border: 0;
                                                            padding: 15px;
                                                            font-size: 14px;
                                                            color: #626262;
                                                            resize: none; //크기조정안함
                                                            border-radius: 3px; //둥근모서리
                                                            &:focus {
                                                                outline: 0;
                                                            }
                                                            &::placeholder {
                                                                color: #ccc;
                                                            }
                                                        }

                                                        button {
                                                            padding: 0 15px;
                                                            height: 50%;
                                                            background: #000;
                                                            color: #fff;
                                                            border: 3px solid #000;
                                                            border-radius: 3px;
                                                            cursor: pointer;
                                                            font-weight: 600;
                                                            font-size: 13px;
                                                            text-transform: uppercase;
                                                            transition: all 0.3s;
                                                            &:hover {
                                                                background: #fff;
                                                                color: #000;
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                            .content-footer {
                                                display: none;
                                                font-size: 13px;
                                                color: #626262;
                                                text-align: center;
                                                padding: 10px 15px;
                                                border:2px solid #cc3;
                                                &.foot1 {
                                                    &.on {
                                                        display: block;
                                                    }
                                                }
                                                &.foot2 {
                                                    &.on {
                                                        display: block;
                                                    }
                                                }
                                            }
                                            
                                        }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        #section7 {
            width:100%;
            background: #fff;
            padding: 130px 0;
            .container {
                width: 100%;
                max-width: 1170px;
                margin: 0 auto;
                .gap {
                    padding: 0 15px;

                    .title {
                        width: 100%;
                        text-align: center;
                            h2 {
                                display: inline-block;
                                font-size: 24px;
                                font-weight: 700;
                                color: #e15276;
                                position: relative;
                                &::before{
                                    content:'';
                                    position: absolute;
                                    left: -60px;
                                    top: 50%;
                                    margin: -0.5px 0 0 0;
                                    width: 40px;
                                    height: 1px;
                                    background: #93e4cf;
                                }
                                &::after{
                                    content:'';
                                    position: absolute;
                                    right: -60px;
                                    top: 50%;
                                    margin: -0.5px 0 0 0;
                                    width: 40px;
                                    height: 1px;
                                    background: #93e4cf;
                                }                                          
                            }
                    }
                    .content {
                        width: 100%;
                        p {
                            padding: 80px 0;
                            font-size: 13px;
                            font-family: 'Roboto';
                            color: #626262;
                            line-height: 180%;
                            text-align: center;
                            width: 456px;
                            margin: 0 auto;
                        }
                        span {
                            display: block;
                            margin: 0 auto;
                            width: 100%;
                            max-width: 945px;
                            display: flex;
                            justify-content: space-around;
                            a {
                                img {
                                    width: 100%;
                                }
                            }
                        }
                    }
                    
                }
            }
        }
        #section8 {
            width:100%;
            height: 675.250px + 130px + 130px;
            background: #f7f7f7;
            padding: 130px 0; 
            .container {
                width: 100%;
                max-width: 1170px;
                margin: 0 auto;
                .gap {
                    width: 100%;
                    .content {
                        width: 100%;
                        height: 100%;
                        margin: 0 -15px;
                        .title {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            h2 {
                                display: inline-block;
                                font-size: 24px;
                                font-weight: 700;
                                color: #e15276;
                                position: relative;
                                &::before{
                                    content:'';
                                    position: absolute;
                                    left: -60px;
                                    top: 50%;
                                    margin: -0.5px 0 0 0;
                                    width: 40px;
                                    height: 1px;
                                    background: #93e4cf;
                                }
                                &::after{
                                    content:'';
                                    position: absolute;
                                    right: -60px;
                                    top: 50%;
                                    margin: -0.5px 0 0 0;
                                    width: 40px;
                                    height: 1px;
                                    background: #93e4cf;
                                }                                          
                            }
                        }
                    }
                }
            }
        }
        #section9 {
            width:100%;
            background: #fff;
            padding: 130px 0; 
            border-bottom: 1px solid #e2e1e1;
            .container {
                width: 100%;
                max-width: 1170px;
                margin: 0 auto;
                .gap {
                    width: 100%;
                        .title {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            padding: 0 0 93.594px 0;
                            h2 {
                                display: inline-block;
                                font-size: 24px;
                                font-weight: 700;
                                color: #e15276;
                                position: relative;
                                &::before{
                                    content:'';
                                    position: absolute;
                                    left: -60px;
                                    top: 50%;
                                    margin: -0.5px 0 0 0;
                                    width: 40px;
                                    height: 1px;
                                    background: #93e4cf;
                                }
                                &::after{
                                    content:'';
                                    position: absolute;
                                    right: -60px;
                                    top: 50%;
                                    margin: -0.5px 0 0 0;
                                    width: 40px;
                                    height: 1px;
                                    background: #93e4cf;
                                }                                          
                            }
                        }
                        .content {
                            width: 100%;
                           > ul {
                                width: 100%;
                                display: flex;
  
                               > li {
                                    width: (100% / 3);
                                    .col-gap {
                                        margin: 0 15px;
                                        .img-box {
                                            width: 100%;
                                            img {
                                                width: 100%;
                                            }
                                        }
                                        .txt-box {
                                            width: 100%;
                                            padding: 28.797px 0 0 0;
                                            ul {
                                                text-align: left;
                                        
                                                li {
                                                    padding: 15px;
                                                    &:first-child
                                                    
                                                    a {
                                                        font-size: 10px;
                                                        font-weight: 500;
                                                        padding: 3px 9px 5px 9px;
                                                        background: #000;
                                                        color: #fff;
                                                    }
                                                }
                                                    a {
                                                        padding: 0 0 14.39px 0;
                                                        h3 {
                                                            font-size: 15px;
                                                            font-weight: 600;
                                                            line-height: 22px;
                                                            color: #272727;
                                                        }
                                                    }
                                               
                   
                                                    
                                                    p {
                                                        font-size: 13px;
                                                        font-family: 'Roboto';
                                                        color: #626262;
                                                        line-height: 23px;
                                                    }
                                         
                                 
                                                    hr {
                                                        color: #e2e2e2;
                                                        width: 100%;
                                                    }
                                     
            
                                                    a {
                                                        font-size: 11px;
                                                        font-weight: 500;
                                                        line-height: 20px;
                                                        color: #ababab;
                                                    }
                  
                                            }
                                        }
                                    }
                                }
                            
                        }
                    }
                }
            }
        }
        #section10 {
            width:100%;
            height: 294.375px + 130px + 80px;
            background: #fff;
            padding: 130px 0 80px 0; 
            .container {
                width: 100%;
                max-width: 1170px;
                margin: 0 auto;
                .gap {
                    width: 100%;
                    .content {
                        width: 100%;
                        height: 100%;
                        margin: 0 -15px;
                        .title {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            h2 {
                                display: inline-block;
                                font-size: 24px;
                                font-weight: 700;
                                color: #e15276;
                                position: relative;
                                &::before{
                                    content:'';
                                    position: absolute;
                                    left: -60px;
                                    top: 50%;
                                    margin: -0.5px 0 0 0;
                                    width: 40px;
                                    height: 1px;
                                    background: #93e4cf;
                                }
                                &::after{
                                    content:'';
                                    position: absolute;
                                    right: -60px;
                                    top: 50%;
                                    margin: -0.5px 0 0 0;
                                    width: 40px;
                                    height: 1px;
                                    background: #93e4cf;
                                }                                          
                            }
                        }
                        .text {
                            margin: 90px 342px 10px 342px;
                            font-size: 13px;
                            height: 115px;
                            line-height: 23px;
                            font-family: 'Roboto';
                            color: #626262;
                            text-align: center;
                        }
                    }
                }
            }
        }
        #section11 {
            width:100%;
            height: 420px;
            background: #fff;
            iframe {
                width: 100%;
                height: 100%;
                border: 0;
            }
        }


    }
    #footer {
        z-index: 1;
        position: relative;
        width:100%;
        .container {
            width: 100;
            .gap {
                padding: 0 15px 0;
                .content{
                    .foot-icon{
                        padding: 57px 0;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        a {
                            i {
                                color: #626262;
                                font-size: 13px;
                                line-height: 23px;
                            }
                        }
                    }
                    .foot-txt {
                        padding: 0 0 30px 0;
                        hr {}
                        p {}
                    }
                }
            }
        }
   
    }
}